<div class="row">
  <div class="col-sm-12">
    <div class="table-responsive">
      <table class="table table-bordered">
        <tr>
          <th>Hình</th>
          <th>Tên sản phẩm</th>
          <th>Số lượng</th>
          <th>Đơn giá</th>
          <th>Thành tiền</th>
          <th></th>
        </tr>
        <tr>
          <td class="text-center">
            <img src="https://www.shoecarnival.com/dw/image/v2/BBSZ_PRD/on/demandware.static/-/Sites-scvl-master-catalog/default/dw54fd8208/87835_167742_1.jpg?sw=1694&sh=1999&sm=fit" width="70" height="60" /> </td>
          <td>
            <a target="_blank" href=""> Adisdas 1 </a>
          </td>
          <td>
            <form >
              <input type="hidden" name="SanPhamID" />
              <input type="number" min="1" step="1" name="soluongmoi" />
              <button type="submit" class="btn btn-primary btn-sm"> Cập nhật </button>
            </form>
          </td>
          <td> VNĐ </td>
          <td>VNAAS</td>

          <td>
            <a href="" class="btn btn-danger btn-sm">
              Xóa
            </a>
          </td>
        </tr>

        <tr>
          <td></td>
          <td class="text-right">Tổng số lượng:</td>
          <td> 3 </td>
          <td class="text-right">Tổng thành tiền:</td>
          <td> VNĐ </td>
        </tr>
      </table>
    </div>

  </div>

</div>