/*product*/
.trending-item{
	margin-bottom: 16px;
    margin-top: 15px;
    font-size: 22px;
    color: white;
	margin-left: 15px;
	background: #4EB1BA;
	width: 274px;
    text-align: center;
}
.single-product {
    border:3px solid #4EB1BA;
    margin-bottom: 30px;
    position: relative;
    transition: .2s all ease-in-out;
}
.product-block img.thumbnail {
    width: 100%;
    border-radius: 0px;
    margin: 0px;
    padding: 0px;
    border:0px;
}
.product-hover {
    opacity:0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    transition: .2s all ease-in-out;
}
.product-description {
    background: #4EB1BA;
}
.product-description p {
    margin: 0px;
    color:#fff;
    padding-top:10px;
    font-weight: 600;
}
.product-description p.price {
    padding-top: 0px;
    padding-bottom: 10px;
}
.single-product:hover .product-hover {
    opacity:1;
    height:50%       
}
.product-hover ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    bottom: 0;
    position: absolute;
    width: 100%;
    text-align: center;
}
.product-hover ul li {
    display: inline-block;
    margin:0px 5px;
}
.product-hover ul li a {
    color: #fff;
    background: #4EB1BA;
    padding: 8px;
    font-size: 15pt;
}
.product-hover ul li a:hover {
    color: #4EB1BA;
    background: #fff;
}
/* //prodcut */