<div class="container">

  <!-- Admin -->
  <div class="row">
      
      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
      
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a routerLink="/product" routerLinkActive="active">Product</a></li>
            <li class="active"><a routerLink="/product-categories" routerLinkActive="active">Product Categories</a></li>
            <li class="active"><a routerLink="/order" routerLinkActive="active">Order</a></li>
            <li class="active"><a routerLink="/order-detail" routerLinkActive="active">Order detail</a></li>
            <li class="active"><a routerLink="/user" routerLinkActive="active">User</a></li>
            <li class="active"><a routerLink="/access-management" routerLinkActive="active">AcessManagement</a></li>

          </ul>

        </div>
      </nav>
      
      
  </div>
  <!-- <app-products></app-products> -->

</div>

<router-outlet></router-outlet>